        <div class="user-profolio">

            <div class="user-avatar">
                <div class="user-image">
                <img title="profile image" class="img-responsive" ng-src="http://directory.slb.com/misc/pictures/{{user.GIN | ginFilter}}.jpg">
                </div>
            </div>

            <div class="user-info">
            <div>
                <p class="user-name">{{user.Name}}</p>
            </div>
            <div class="user-summary">
                <div class="training-course-kpi">
                    <div class="kpi-title">Training Times</div>
                    <div class="kpi-value">{{trainingTimes}}</div>
                </div>
                <span class="split"></span>
                <div class="training-course-kpi">
                    <div class="kpi-title">Training Days</div>
                    <div class="kpi-value">{{trainingDays}}</div>
                </div>
            </div>
            </div>

            <div class="user-links">
                <div class="title">Links</div>
                <div class="item"><a target="_blank" href="http://www.eureka.slb.com/CNP.cfm?gin={{user.GIN | ginFilter }}">Visit my CNP</a></div>
                <div class="item"><a target="_blank" href="http://directory.slb.com/query.cgi?alias={{user.Alias}}">Visit my LDAP</a></div>
            </div>
        </div>