.course-detail-info{
  width: 100%;
  margin-bottom: 50px;
}
.course-description{
  width:60%;
  float: left
}
.course-description .property-value,.course-description .property-value-block{
  white-space: pre-wrap;
}
.course-title{
  font-size:2rem;
  margin: 1rem 0;
  display: block;
}
.feedback-score-wrapper{
  -webkit-flex:1;
          flex:1;
  margin: 20px;

}
.course-feedback-score{
  width:40%;
  float:right;
  background-color: #BDC3C7;
  border-radius: 5px;
}

.distribute-bar{
  width:100%;
  height: 1rem;
  background-color: #D35400;
  display: inline-block;
  line-height:20px;
}

.feedback-star{
  color: #D35400;
  font-size:1.5em;
}


.property-container{
  width:100%;
}
.property-label{
  display: inline-block;
  text-align: left;
  margin: 5px 10px 5px 0;
  font-size: 1.2em;
  font-weight: bold;
}

.property-value{
  display: inline-block;
  text-align: left;
  font-size: 1.1rem;
}

.property-value-block{
  display: block;
    width: 100%;
  text-align: left;
  font-size: 1.1rem;
  max-height: 200px;
  overflow: hidden;
}
.download-attachment{
  font-size:1.5rem;
}
.btn-inline-block{
  display: inline-block;
}
input[type=file].btn-inline-block{
  display: inline-block;
}
.course-skill{
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  margin-right:10px;
  background-color: #BDC3C7;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
}

.course-tabs{
  clear:both;
  -webkit-flex:1;
          flex:1;
  display: -webkit-flex;
  display: flex;
}
.user-feedback{
  border-top: 1px dotted #333d46;
  margin-top: 5px;
  padding-top: 10px;
}
.feedback-label{
  display: inline-block;
  width:80px;
  text-align: left;
  margin: 5px 25px 5px 0;
  font-size: 1.1em;
  vertical-align: top;
}
.feedback-value{
  display: inline-block;
  width: calc(100% - 120px);
}
.feedback-actions button{
  margin-right:10px;
}
.feedback-actions button, .feedback-actions .allow-anonymous{
  float:right;
  margin-top:20px;
  margin-bottom: 20px;
}

.feedback-actions .allow-anonymous{
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  line-height: 34px;
}

.feedback-item{
  border-bottom: 1px dotted #333d46;
  margin: 1rem;
  padding-bottom: 1rem;
  white-space: pre-line;
}

.distribute-star{
  display: inline-block;
  width:100px;
}

.distribute-percentage-bar{
  display: inline-block;
  width:calc(100% - 160px);
}
.distribute-percentage{
  position: absolute;
  right: -40px;
  width:30px;
  display: inline-block;
}
.distribute-bar{
  position: relative;
}
.enable-feedback-star i {
  cursor: pointer;
}
.star-short-comments{
  font-size: 0.8em;
  margin-left: 5px;
  text-transform: lowercase;
}

.ng-isolate-scope{
  display: -webkit-flex;
  display: flex;
  -webkit-flex:1;
          flex:1;
  -webkit-flex-direction: column;
          flex-direction: column;
}

.tab-content{
  -webkit-flex:1;
          flex:1;
  display: -webkit-flex;
  display: flex;
}

.tab-pane{
  width:100%;
}

.roster-selector{
    margin: 20px 0;
}
.roster-selector input{
  width:300px;
  height:33px;
}
.delete-roster-icon{
  width:30px;
  font-size: 20px;
  text-align: center;
  border:1px solid #ddd;
  border-radius: 5px;

}

.delete-roster-icon:hover{
  border:1px solid #444;
}

/*****************responsive design*********************************/
@media all and (max-width: 600px){
  .nav>li.roster-tab{
    display: none;
  }
  .course-detail-info{
    display: initial;
    height:initial;
  }

  .course-description {
    width:100%;
    float:none;
    margin: 0 1rem 1rem 1rem;
  }

  .course-feedback-score {
      width:100%;
     float:none;
     background-color: #BDC3C7;
     margin: 1.5rem 0;
     padding: 1rem;
     border-radius: 0;
  }
  .feedback-score-wrapper{
    margin:0;
  }

  .feedback-actions{
      height: 50px;
  }

  .star-short-comments{
    font-size: 0.6rem;
    margin-left:0;
  }
  .feedback-comments{
    word-wrap: break-word;
  }
  .course-title{
    text-align: center;
    font-weight: bold;
    font-size:1.5rem;
    margin: 1rem 0;
  }
}