  <div class="view-content">

<div class="about-content">
      <h1 class="about-title">About</h1>

    <p>
      To help the growth and development of BGC employees, we launch Skill Map in Jan 2013, sponsored by BGC Metier.
      Skill Map is a competency management system. As an engineer, you can view everyone's competency data and find BGC experts here.
      As managers, Skill Map helps you understand the competency of your team, identify the strength and areas for further improvement.
      To build a better Skill Map, we are more than happy to hear your ideas and suggestions, please feel free to contact us.
    </p>
    <p>
      Xi CHEN is the developer of this site.
    </p>
    <p>
      Yong WANG, BGC Metier manager, serves as the stakeholder of this project.
    </p>

    <div>
      <header>
        <h3 class="about-subtitle">Phone:</h3>
      </header>
      <p>
        <span>Yong WANG:</span>
        <span>+86 10 6061 5855</span>
      </p>
      <p>
        <span>Xi CHEN:</span>
        <span>+86 10 6061 5370</span>
      </p>
    </div>

    <div>
      <header>
        <h3 class="about-subtitle">Email:</h3>
      </header>
      <p>
        <span>Support:</span>
        <span><a href="mailto:xchen29@slb.com">xchen29@slb.com</a></span>
      </p>
      <p>
        <span>Sponsor:</span>
        <span><a href="mailto:ywang24@slb.com">YWang24@slb.com</a></span>
      </p>
    </div>

    <div>
      <header>
        <h3 class="about-subtitle">Address:</h3>
      </header>
      <p>
        Schlumberger Technologies (Beijing) Ltd. <br />
        9th floor, Tower A, Chuang Xin Building, Tsinghua Science Park

      </p>
    </div>
  </div>
  </div>
