<div class="view-content">
<section class="create-course ">
  <form>
    <fieldset class="bg-clouds">
      <div class="control-group">
        <h1 class="title">Create Training Course</h1>
      </div>
      <div class="control-group">
        <label class="control-label text-right">Title</label>
          <input type="text" class="form-control"   ng-model="course.Title" required >
      </div>
      <div class="control-group">
        <label class="control-label text-right">Start Date</label>
          <input type="date" class="form-control"  ng-model="course.StartDate" required >
      </div>
      <div class="control-group">
        <label class="control-label text-right">End Date</label>
          <input type="date" class="form-control"  ng-model="course.EndDate" required >
      </div>
      <div class="control-group">
        <label class="control-label text-right">Maximum Enrollment</label>
          <input type="number" class="form-control  short-input"  ng-model="course.MaximumEnroll" required >
      </div>
      <div class="control-group">
        <label class="control-label text-right">Language</label>
          <select class="form-control  short-input"  ng-model="course.Language" required>
            <option value="English">English</option>
            <option value="Chinese">Chinese</option>
          </select>
      </div>
      <div class="control-group">
        <label class="control-label text-right">Cost</label>
          <input type="number" class="form-control short-input"  ng-model="course.Cost" required > USD
      </div>
      <div class="control-group">
        <label class="control-label text-right">Location</label>
          <input type="text" class="form-control short-input"  ng-model="course.Location" required >
      </div>
      <div class="control-group key-skills">
        <label class="control-label text-right">Key skills</label>
          <input type="text" class="roster-input form-control short-input" placeholder="select skill to add" ng-model="keySkillModel"  ui-autocomplete="myOption">
          <a class="btn btn-primary" ng-click="addKeySkills()">Add Skills</a>
          <div class="key-skill-item-container">
          <div class="key-skill-item" ng-repeat="skill in keySkillPool">
            
            <span >{{skill.Element}}</span>
            <span class="delete-key-skill-item">
            <i class="fa fa-times" ng-click="deleteKeySkill(skill)"></i>
            </span>
          </div>
          </div>
      </div>
      <div class="control-group">
        <label class="control-label text-right">Course Introduction</label>
          <textarea class="form-control"  ng-model="course.CourseIntroduction" required ></textarea>
      </div>
      <div class="control-group">
        <label class="control-label text-right">Course Curriculum</label>
          <textarea class="form-control"  ng-model="course.Curriculum" required ></textarea>
      </div>
      <div class="control-group">
        <label class="control-label text-right">Instructor</label>
          <input type="text" class="form-control short-input"  ng-model="course.Instructor" required >
      </div>
      <div class="control-group">
        <label class="control-label text-right">Instructor Introduction</label>
          <textarea  class="form-control"  ng-model="course.InstructorIntroduction" ></textarea>
      </div>

      <div class="control-group">
       <label class="control-label"></label>
       <div class="action-buttons-container">
          <div class="action-buttons">
            <button type="submit" class="btn btn-primary" ng-click="createTrainingCourse()">Create</button>
            <button type="reset" class="btn">Reset</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>

</section>
</div>