<div class="view-content">             
    <div class="page-container">
        <div class="page-section white-bg">
            <div class="wrap">
                                                        
                <div class="page-section-heading">
                    <div class="page-section-title"><span>WELCOME TO TRAINING MAP</span></div>
                    <div class="page-section-subtitle">Improve Training Effectiveness</div>
                </div>
                       
                <div class="page-features">
                    

                <div class="column3_1 ">    
                    <div class="feature-circle">
                        <div class="feature-icon">
                            <div class="feature-icon-circle">
                                <div class="feature-icon-table">
                                    <a href="/SkillmapHome.aspx" class="feature-icon-inside">
                                        Skill Map
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="feature-circle-content">
                            <p>Help project team manage their competencies, build their strengths and identify their improvement areas. Let's become world class professionals</p>

                        </div>
                    </div>
                </div>  
                <div class="column3_1"> 
                    <div class="feature-circle">
                        <div class="feature-icon">
                            <div class="feature-icon-circle">
                                <div class="feature-icon-table">
                                    <a href="#training-home" class="feature-icon-inside">
                                    Training
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="feature-circle-content">
                            <p>Search training courses, view training content and provide training feedbacks.</p>
                        </div>
                    </div>
                </div>  
                <div class="column3_1"> 
                    <div class="feature-circle">
                        <div class="feature-icon">
                            <div class="feature-icon-circle">
                                <div class="feature-icon-table">
                                    <a href="#user-center-plaza" class="feature-icon-inside">
                                    User center
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="feature-circle-content">
                            <p>Find BGC Experts, find your own training history and growth path. Connect BGCers</p>
                        </div>
                    </div>
                </div>  
                </div>                             

            </div>
        </div>
    </div>
</div>

