<div class="view-content">
<section class="skillmap-management-section">
<div class="skillmap-management-nav">
    <div class="skillmap-manage-btn"><a href="/ProjectManagement.aspx">Projects</a></div>
    <div class="skillmap-manage-btn"><a href="/ProductlineManagement.aspx">Product lines</a></div>
    <div class="skillmap-manage-btn"><a href="/Admin/AdminMain.aspx">Site console</a></div>
</div>
</section>
<section class="welcome-to-skillmap">
    <div>
        <span class="welcome-title">Welcome!</span>
        <span class="welcome-content">Skillmap helps your team become world class professionals.</span>
        <span class="welcome-content">We help project team manage their competencies, build their strengths and identify their improvement areas.</span>
    </div>

</section>

<section class="product-line-container">
  <div ng-repeat="productline in productlines " class="product-line-card">
    <a class="product-line-{{$index%8}}" href="/ProductLineViewSelect.aspx?id={{productline.id}}"><span>{{productline.name}}</span></a>
  </div>
</section>
</div>

