<div class="view-content">
    <section class="course-detail-info">
        <div class="course-description">
            <div class="skill-tag-container">
                <span class="course-skill" ng-repeat="skill in keySkills" skillGuid="skill.KeyGUID">{{skill.Element}}</span>
            </div>
            <span class="course-title">{{course.Title}} 
                <a ng-click="downloadCourseAttachment()" ng-show="!noAttachment" class="download-attachment" title="Download attachment">
                    <i class="fa fa-download"></i>
                </a>
            </span>
            <div class="property-container">
            <span class="property-label">Date:</span>
            <span class="property-value">{{course.StartDate | localDateFilter | date:"MM/dd/yyyy"}} -- {{course.EndDate | localDateFilter | date:"MM/dd/yyyy"}}</span>
            </div>
            <div class="property-container">
            <span class="property-label">Location:</span>
            <span class="property-value">{{course.Location}}</span>
            </div>
            <div class="property-container">
            <span class="property-label">Instructor:</span>
            <span class="property-value">{{course.Instructor}}</span>
            </div>
            <div class="property-container">
            <span class="property-label">Description:</span>
            <span class="property-value-block">{{course.CourseIntroduction}}</span>
            </div>
            <div class="property-container">
            <span class="property-label">Curriculum:</span>
            <span class="property-value-block">{{course.Curriculum}}</span>
            </div>
            <div class="property-container" ng-show="isAdmin == true">
                <span class="property-label">Attachment:</span>
                <span class="property-value">
                    <input class="btn-inline-block" type="file" id="course-attachments" multiple/>
                    <button class="btn-inline-block" ng-click="uploadCourseAttachments()">
                    Upload
                    </button>
                </span>
            </div>
        </div>
        <div class="course-feedback-score">
            <div class="feedback-score-wrapper">
                <div class="feedback-average">
                    <span class="feedback-label">Average:</span>
                    <star-rating parentclass="feedback-average" score="feedbackStats.averageScore"></star-rating>
                    <span>{{feedbackStats.averageScore | number:1}}</span>
                </div>


                <div class="feedback-distribute">
                    <span class="feedback-label">Distribution:</span>
                    <div class="feedback-value">
                        <div class="rating-container" ng-repeat="catalog in feedbackStats.scoresCatalag | orderBy: '-score'">
                            <div class="distribute-star">
                                <star-rating score="catalog.score"></star-rating>
                            </div>
                            <div class="distribute-percentage-bar">
                                <div class="distribute-bar" style="width:calc({{catalog.percentage}})">
                                    <div class="distribute-percentage">
                                        {{catalog.percentage}}
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="user-feedback">
                    <span class="feedback-label">Feedback:</span>
                    <star-rating clickable="true" score="feedback.score"></star-rating>
                </div>
                <div class="user-comments">
                    <span class="feedback-label">Comments:</span>
                    <div class="feedback-value">
                        <textarea ng-model="feedback.comments" class="form-control" rows="6" ></textarea>
                    </div>
                </div>
                <div class="feedback-actions">
                    <button type="reset" class="btn" ng-click="resetFeedback()">Reset</button>
                    <button type="submit" class="btn btn-primary" ng-disabled="feedback.comments == ''" ng-click="submitFeedback()">Submit</button>
                    <span class="allow-anonymous">
                        <input type="checkbox" ng-checked="feedback.anonymous" ng-init="feedback.anonymous = false" ng-model="feedback.anonymous">anonymous</input>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <section class="course-tabs">
        <tabset>
            <tab>
                <tab-heading>
                    <i class="fa fa-comments"></i> Feedback
                </tab-heading>
                <div class="feedback-item" ng-repeat="item in feedbackItems | orderBy:'-CreateDate'">
                    <div class="feedback-header">
                        <a ng-click="goToUserCenter(item.UserAlias)" class="feedback-user-name">{{item.UserName}}</a>
                        <div class="distribute-star">
                            <star-rating score="item.Rating"></star-rating>
                        </div>
                        <span class="feedback-date">{{item.CreateDate  | localDateFilter | date:"MM/dd/yyyy hh:mm a"}}</span>
                    </div>
                    <div class="feedback-comments">
                        {{item.Comments}}
                    </div>
                </div>
            </tab>
            <tab class="roster-tab">
                <tab-heading><i class="fa fa-users"></i> Roster</tab-heading>
                <div class="register-roster" ng-show="isAdmin == true">
                    <div class="roster-selector">
                        <input type="text" class="roster-input" placeholder="search user" ng-model="modelObj"  ui-autocomplete="myOption">
                        <button type="submit" class="btn btn-primary" ng-click="registerRoster()">Register</button>
                    </div>
                </div>
                <table st-table="rosters" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Gin Number</th>
                            <th>Alias</th>
                            <th>Project</th>
                            <th ng-show="isAdmin == true">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in rosters">
                            <td><a ng-click="goToUserCenter(row.Alias)">{{row.UserName}}</a></td>
                            <td>{{row.UserGin}}</td>
                            <td>{{row.Alias}}</td>
                            <td>{{row.Project}}</td>
                            <td ng-show="isAdmin == true">
                                <div class="delete-roster-icon">
                                <i class="fa fa-times" ng-click="deleteRoster(row.UserGin)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tab>

        </tabset>
    </section>
</div>
