<div class="view-content">
<section class="search-course-section training-home-section">
  <div class="search-course-container">
    <div  class="search-bar" >
      <input type="text" ng-model="searchKeyWords" placeholder="Search For BGC's Creative Training Courses" ng-enter="searchTrainingCourses()"/>
      <div class="search-icon" ng-click="searchTrainingCourses()" ng-enter="searchTrainingCourses">
        <i class="fa fa-search"></i>
      </div>
    </div>
  </div>
</section>

<section class="training-home-section">
  <div class="courses-summary"><span class="courses-count">{{trainingCourses.length}} courses</span> for {{coursesSummary}}</div>
  <div class="course-list">
    <div class="sorting">
    <a class="alpha sort-method" ng-click="order('Title',false)">A-Z</a>
    <a class="newest sort-method" ng-click="order('StartDate',true)">Newest</a>
    <a class="rating sort-method" ng-click="order('Rating',true)">Rating</a>
    <a class="create-training-course" ng-show="isAdmin == true" ng-click="goToCreateTrainingCourse()">Create training course</a>
  </div>
  <div class="course-item" ng-repeat="item in trainingCourses ">
      <div class="title" ><a ng-click="goToTrainingCourse(item.Guid)">{{item.Title}}</a></div>
      <div class="course-info">
      <span class="instroductor">By {{item.Instructor}}</span>
      <span class="course-date">{{item.StartDate | localDateFilter | date:"MM/dd/yyyy"}} -- {{item.EndDate | localDateFilter | date:"MM/dd/yyyy"}}</span>
      <span class="rating"><star-rating score='item.Rating'></star-rating></span>
      </div>
  </div>
  </div>
  <div class="skill-course-relation-list">
      <div class="skill-course-relation-title">Skills</div>
        <div class="skill-item">
            <a ng-click="getTrainingCourses()">All({{totalTrainingCoursesCount}})</a>
        </div>
        <div class="skill-item" ng-repeat="item in skills | orderBy:'-CourseCount'">
            <a ng-click="searchCourseBySkill(item.CompetencyGuid,item.Skill)">{{item.Skill}}({{item.CourseCount}})</a>
        </div>
  </div>
  
</section>

</div>

